/* Sets global setting to ensure page is displayed correct on all browsers*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Ensures majot page elements sit with no margin at full page height */
html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Sets the font type and background colour of the page */
body {
  font-family: sans-serif;
  background-color: #3d0678;
}

/* Sets the main page section styling */
.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

/* Simple styilng for the header */
header {
  text-align: center;
  padding: 20px;
  padding-top: 0px;
  color:antiquewhite;
}

/* Sets the styling for the card is where the main elements of the page sit */
.card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: hsl(206, 17%, 28%);
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
}

/* A simple top border styling for the card */
.card-header::after {
  content: " ";
  display: block;
  width: 100%;
  background: #0e3051;
  height: 2px;
}

/* Sets the height of the card body */
.card-body {
  min-height: 100px;
}

/* Enures the Generate Password buttong sits central in the card */
.card-footer {
  text-align: center;
}


/* A simple bottom border styling for the card */
.card-footer::before {
  content: " ";
  display: block;
  width: 100%;
  background: #0e3051;
  height: 2px;
}

/* Sets the styling for the button itself */
.btn {
  border: none;
  background-color: red;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}

/* Sets the styling of the box where the password is displayed */
#password {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 85px;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px dashed #c0c7cf;
  border-radius: 6px;
  resize: none;
  overflow: hidden;
}

/* Media queries */
@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  #password {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
}
